<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Path to mongod.exe relative to the MongoDBService.exe. -->
		<add key="path" value="mongodb-win32-x86_64-1.2.2\bin\mongod.exe" />
		
		<!-- Command line args to pass to mongod.exe when starting. -->
		<add key="args" value="" />
	</appSettings>
</configuration>